  <form class="c-form" 
          {% if camiseta %}
               action="{{ url_for('camiseta.atualizar_camiseta', camiseta_id=camiseta.id) }}"          
          {% else %}    
               action="{{ url_for('camiseta.inserir_camiseta') }}" 
          {% endif %}

          method="{% if camiseta %}PUT{% else %}POST{% endif %}"

          {% if camiseta %}
              c-swap="#camiseta-{{camiseta.id}} "
          {% else %} 
              c-appen="#lista-camiseta"
          {% endif %}          

          c-reload-container="true" >

          
      <div class="mb-3">
        <label class="form-label">item</label>
        <input type="text" class="form-control" placeholder="camiseta" name="item" {% if camiseta %}value="{{camiseta.item}}"{% endif %}>
      </div>

      <div class="mb-3">
        <label class="form-label">tipo</label>
        <input type="text" class="form-control" placeholder=" feminino, masculino ou unissex"  name="tipo" {% if camiseta %}value="{{camiseta.tipo}}" {% endif %}>
      </div>

      <div class="mb-3">
        <label class="form-label">modelo</label>
        <input type="text" class="form-control" placeholder="manga curta, manga longa ,regata, t-shir ou baby look"  name="modelo" {% if camiseta %}value="{{camiseta.modelo}}" {% endif %}>
      </div>


      <div class="mb-3">
        <label class="form-label">cor</label>
        <input type="text" class="form-control" placeholder="cor ou estampada"  name="cor" {% if camiseta %}value="{{camiseta.cor}}" {% endif %}>
      </div>


      <div class="mb-3">
        <label class="form-label">tamanho</label>
        <input type="text" class="form-control" placeholder="pp,p,m,g,gg,plus size"  name="tamanho" {% if camiseta %}value="{{camiseta.tamanho}}" {% endif %}>
      </div>

        
      <div class="mb-3">
        <label class="form-label">detalhe</label>
        <input type="text" class="form-control" placeholder="Informe detalhes e caracteríticas do item de cadastro" name="detalhe" {% if camiseta %}value="{{camiseta.detalhe}}" {% endif %}>
      </div>  

      <br>

      <button type="submit" class="btn btn-primary">
        {% if camiseta %}Salvar{% else %}Criar{% endif %}</button>

    </form>