<form class="c-form" 
        {% if item %} 
        action="{{url_for('estoque.atualizar_camisas', camisa_id=estoque.id) }}"
        {% else item %} 
        action="{{url_for('estoque.inserir_camisas') }}"
        {% else item %} 

        method="{% if item %}PUT{% else item %}POST{% endif %}" 
                c-append="#lista-camisas"> <!-- informo onde quero fazer o append-->
      
    <div class="mb-3">
        <label id="label-target" for="disabledSelect" class="form-label">Camisas</label>
        <select id="disabledSelect" class="form-select" name="Camisas"> <!-- Precisamos verificar como será o nosso id, se será por item ou geral, se iremos ter itens femininos ou masculinos -->
          <option>Tipo</option>
          <option>Camisa Feminina</option>
          <option>Camisa Masculina</option>
        </select>
    </div>
 
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Modelo</label>
      <select id="disabledSelect" class="form-select" name="Modelo"> <!-- Chave = name, valor =  a informação que atribuirmos -->
        <option>Modelo</option>
        <option>Manga Larga</option>
        <option>Manga Curta</option>
      </select>
    </div>
     
    <div class="mb-3">
        <label for="disabledSelect" class="form-label">Marca</label>
            <select id="disabledSelect" class="form-select" name="Marca">
            <option>Marca</option>
            <option>Polo Sport</option>
            <option>Armani</option>
            <option>Gucci</option>
            <option>Channel</option>
            <option>Prada</option>
            <option>Tommy</option>
            </select>
    </div>

    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Tamanho</label>
          <select id="disabledSelect" class="form-select" name="Tamanho">
          <option>Tamanho</option> 
          <option>PP</option>
          <option>P</option>
          <option>M</option>
          <option>G</option>
          <option>GG</option>
          <option>XG</option>                  
          </select>
  </div>

    <div class="mb-3">
      <label class="form-label">Detalhes</label>
      <input type="text" class="form-control" placeholder="Informe detalhes sobre a peça" name="Detalhes">
    </div>


    <br>
   

    <button type="submit" class="btn btn-primary">Adicionar Item</button>
  </form>