<form>

    <div class="mb-3">
        <label for="disabledSelect" class="form-label">Camisas</label>
        <select id="disabledSelect" class="form-select">
          <option>Tipo</option>
          <option>Camisa Feminina</option>
          <option>Camisa Masculina</option>
        </select>
    </div>
 
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Modelo</label>
      <select id="disabledSelect" class="form-select">
        <option>Modelo</option>
        <option>Manga Larga</option>
        <option>Manga Curta</option>
      </select>
    </div>
     
    <div class="mb-3">
        <label for="disabledSelect" class="form-label">Marca</label>
            <select id="disabledSelect" class="form-select">
            <option>Marca</option>
            <option>Polo Sport</option>
            <option>Armani</option>
            <option>Gucci</option>
            <option>Channel</option>
            <option>Prada</option>
            <option>Tommy</option>
            </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Detalhes</label>
      <input type="text" class="form-control" placeholder="Informe detalhes sobre a peça">
    </div>


    <br>
   

    <button type="submit" class="btn btn-primary">Adicionar Item</button>
  </form>