<tr>

    <th scope="row">{{ camiseta.id }}</th>
    <td>{{ camiseta.item }}</td>
    <td>{{ camiseta.modelo }}</td>
    <td>{{ camiseta.tipo }}</td>
    <td>{{ camiseta.marca }}</td>
    <td>{{ camiseta.cor }}</td>
    <td>{{ camiseta.tamanho }}</td>
    <td>{{ camiseta.detalhes }}</td>
    <td>
      <button type="button" class="btn btn-secondary" 
           c-get="{{url_for('camiseta.form_edit_camiseta', camiseta_id=camiseta.id)}}"
           c-target="#form-camiseta">
         Editar
    </button>

      <button type="button" class="btn btn-danger" 
          c-delete="{{ url_for('camiseta.deletar_camiseta', camiseta_id=camiseta.id )}}"
          c-remove-closest="tr">
          Deletar
        </button>
    </td>
  </tr>