<tr id="camisa-{{camisa.id}}">

    <th scope="row">{{ camisa.id }}</th>
    <td>{{ camisa.item }}</td>
    <td>{{ camisa.modelo }}</td>
    <td>{{ camisa.tipo }}</td>
    <td>{{ camisa.cor }}</td>
    <td>{{ camisa.tamanho }}</td>
    <td>{{ camisa.detalhe }}</td>
    <td>


    <button type="button" class="btn btn-secondary" 
           c-get="{{ url_for ('camisa.detalhe_camisa', camisa_id=camisa.id) }}"
           c-target="#exibir-camisa"
           data-bs-toggle="modal" data-bs-target="#exampleModal">
             Verificar
    </button>

    <button class="btn btn-primary" 
           c-get="{{url_for('camisa.form_edit_camisa', camisa_id=camisa.id)}}"
           c-target="#form-camisa">
         Editar
    </button>

      <button class="btn btn-danger" 
          c-delete="{{ url_for('camisa.deletar_camisa', camisa_id=camisa.id )}}"
          c-remove-closest="tr">
          Deletar
        </button>
    </td>
  </tr>