/*A propriedade "box-sizing" definida como "border-box", garante que o preenchimento
e a borda estejam incluídos na largura e altura total dos elementos*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Configurações para que sejam exibidas somente as informações da aba ativa. */
.tab-content {
  display: none; /* Esconde todos os conteúdos das abas */
}

.tab-content.active {
  display: block; /* Mostra o conteúdo da aba ativa */
}


/* Configuração para dispositivos extra pequenos (tela de tamanho entre 200px e 600px). */
@media screen and (min-width: 200px) and (max-width: 600px){
  .main{
    width: 98%;
    margin: auto;
  }
  /* CONFIGURAÇÕES DO CABEÇALHO */
  .header1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
    background-color: lightblue;

  }
  .header2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  #logotipo, #logotipo img{
    width: 100%;
    height: 50px;
  }
  .tabsMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tab {
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 50px; /* Ajuste conforme necessário */
    border: 1px solid #ddd; /* Estilo da borda */
    background-color: #f0f0f0; /* Cor de fundo */
  }

  /* CONFIGURAÇÕES DE CONTEÚDO PRINCIPAL */
  #tab1{
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #container1, #container4{
    width: 100%;
    margin: auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com 48% de largura cada */
    gap: 4px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid #ddd; /* Estilo da borda */
    background-color: #f0f0f0; /* Cor de fundo */

  }
  #container2 {
    margin: auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr; /* Duas colunas com 48% de largura cada */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid #ddd; /* Estilo da borda */
    background-color: #f0f0f0; /* Cor de fundo */
  }
  #container3{
    width: 100%;
    margin: auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com 48% de largura cada */
    gap: 4px;
    border-radius: 0px 0px 4px 4px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid #ddd; /* Estilo da borda */
    background-color: #f0f0f0; /* Cor de fundo */
  }

  #container5{
    width: 100%;
    margin: auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com 48% de largura cada */
    gap: 4px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid #ddd; /* Estilo da borda */
    background-color: #f0f0f0; /* Cor de fundo */

  }
  
  #inCodigo input,
  #inLote input,
  #inQuantidade input,
  #inValor input{
    margin: 1px auto;
    width: 100%; /* Define a largura do input */
    max-width: 100%; /* Garante que o input não ultrapasse a largura da div pai */
  }



  #inDescricao input{
    margin: 1px auto;
    width: 100%; /* Define a largura do input */
    max-width: 100%; /* Garante que o input não ultrapasse a largura da div pai */

  }
  .confCor label,
  .confCor select,
  .confTamanho label,
  .confTamanho select {
      display: block;
      width: 100%;
  }

}