
@media screen and (min-width: 200px) and (max-width:600px){
  #main{
      width: 98%;
      margin: auto;
  }
  /* ### CONFIGURAÇÕES DE CABEÇALHO ### */
  #header2{
      display: grid;
      grid-template-columns: 1fr 5fr;
  }
  #logotipo img{
      height: 50px;
      width: auto;
  }
  #abas{
      height: 50px;
      margin-left: 5px;
  }

  /* ### CONFIGURAÇÕES DAS DIV'S E CAMPOS DE INPUT'S ### */
  #inputDados{
      width: 98%;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  
  #codigo,
  #lote,
  #tamanho,
  #cor,
  #quantidade,
  #preco,
  #categoria,
  #data {
      display: flex;
      flex-direction: column;
      width: 98%;
      margin: auto;
      margin-top: 10px;
  }
  
  #codigo label,
  #codigo input,
  #lote label,
  #lote input,
  #tamanho label,
  #tamanho input,
  #cor label,
  #cor input,
  #quantidade label,
  #quantidade input,
  #preco label,
  #preco input,
  #categoria label,
  #categoria select,
  #data label,
  #data input{
      width: 98%;
      margin: auto;
  }

  #botaoInserir{
      width: 58%;
      margin: 15px 0px 10px 3px;
      background-color: #D8D9DE;
      color: black;
      border: none;
  }
  
}
